@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap');

/* This version just adds squircle pfp masking to the member list. They kinda suck but I wanted to keep the code. */


:root{
    --background-primary: #201923;
    --background-secondary: #1a151d;
    --background-tertiary: #100d10;
    --text-link: #5dd;
    --background-secondary-alt: #150f15;
    --blurple: #7a405a;
    --deprecated-quickswitcher-input-background: #302930;
    --interactive-normal: #faf5f5;
    --interactive-active: #fae5e5;
    --deprecated-card-bg: #1a151d;
    --deprecated-card-editable-bg: #1a151d;
    --background-accent: #835;
    --background-floating: #302030;
    
    --scrollbar-thin-thumb: var(--background-accent);
    --scrollbar-auto-track: transparent;
    --scrollbar-auto-thumb: var(--blurple);
    
    --textbox-bg: #302930;
    --spotify-popout: #475;
    --settings-color: #7a609a;
    --new-msg: #8a4a8a;
    --popout-footer: #140f14;
    --background-quat: #547;
}


body {
    font-family: 'Hind Madurai', sans-serif;
}


/* typing caret */
.slateTextArea-1Mkdgw {
    caret-color: #db71e3;
}


/* user popout */
.headerSpotify-zpWxgT{
    background-color: var(--spotify-popout);
}
.theme-dark .headerNormal-T_seeN{
    background-color: transparent;
    border-bottom: 1px var(--background-secondary) solid;
}
.theme-dark .bodyInner-245q0L, .theme-dark .footer-1fjuF6{
    background-color: transparent;
}
.da-userPopout, .theme-dark .body-3iLsc4{
    background-color: var(--popout-footer);
    border-radius: 3px;
    width: 290px;
}
.role-2irmRk{
    border-radius: 3px;
}
.theme-dark .quickMessage-1yeL4E{
    background-color: var(--background-primary);
    border: 0;
}
.headerPlaying-j0WQBV, .headerStreaming-2FjmGz{
    background-color: var(--background-quat);
}
.da-topSectionPlaying{
    background: var(--background-quat);
}
.roleCircle-3xAZ1j{
    border-radius: 3px 0 0 3px;
    margin-left: -5px;
    margin-right: 6px;
    height: 22px;
}
.topSectionSpotify-1lI0-P{
    background-color: var(--spotify-popout);
}
.wrap-ZIn9Iy{
    justify-content: center;
}


/* chat typing field */
.scrollableContainer-2NUZem{
    background-color: var(--textbox-bg);
    border-radius: 4px;
}


/* DM button */
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx .childWrapper-anI2G9{
    background-color: var(--textbox-bg);
}
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9{
    background-color: var(--blurple);
}


/* people list (DMs) */
.peopleColumn-29fq28{
    background-color: var(--background-primary);
}


/* widens member list. adds animations */
.da-members{
    width: 300px;
}
.clickable-1JJAn8 .layout-2DM8Md{
    width: 245px;
    transition: transform ease 0.1s;
    border-radius: 3px;
}
.clickable-1JJAn8:active .layout-2DM8Md{
    width: 245px;
    transform: rotate(3deg);
    border-radius: 3px;
}
.selected-aXhQR6 .layout-2DM8Md{
    width: 245px;
    transition: transform ease 0.1s;
    border-radius: 3px;
}
.da-membersGroup{
    margin-inline-start: 3px;
}
.da-member{
    margin-left: 20px;
    margin-bottom: 2px;
}
.da-avatar .da-wrapper{
    height: 40px !important;
    margin-right: 40px;
}
.da-mask foreignObject{
    clip-path: inset(5% round 25%);
    mask: url();
}


/* settings buttons */
.lookFilled-1Gx00P.colorBrand-3pXr91 {
    background-color: var(--settings-color);
}
.theme-dark .bar-2Qqk5Z{
    background-color: var(--background-tertiary);
}
.barFill-23-gu-{
    background-color: var(--settings-color);
}
.theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC{
    background-color: var(--background-secondary);
}
.css-n57xjs-menu{
    background-color: var(--background-secondary);
}
.themeDefault-24hCdX.valueChecked-m-4IJZ{
    background-color: var(--settings-color);
}


/* chat scrollbar */
.theme-dark .themedWithTrack-q8E3vB>.scroller-2FKFPG::-webkit-scrollbar-thumb{
    background-color: var(--blurple);
}
.theme-dark .themedWithTrack-q8E3vB>.scroller-2FKFPG::-webkit-scrollbar-track-piece{
    background:none;
    border: 0;
}

/* changelog pop-ups */
.theme-dark .root-1gCeng{
    background-color: var(--background-primary);
}
.theme-dark .footer-3rDWdC{
    background-color: var(--background-primary);
}


/* "new message" stuff */
.da-newMessagesBar{
    background-color: var(--blurple);
    border-radius: 0 0 4px 4px;
}
.isUnread-3Ef-o9{
    border-color: var(--new-msg);
}
.unreadPill-2HyYtt{
    background-color: var(--new-msg);
}
.unreadPillCapStroke-7rkHbg {
    color: var(--new-msg);
    fill: var(--new-msg);
}
.unread-1xRYoj{
    border-radius: 3px;
}
.isUnread-3Ef-o9 .content-1o0f9g{
    color: var(--new-msg);
}


/* emoji autofill */
.theme-dark .autocomplete-1vrmpx{
    background-color: var(--background-quat);
}
.theme-dark .selectorSelected-1_M1WV{
    background: var(--background-secondary);
}


/* in-chat date line */
.content-1o0f9g{
    color: var(--background-accent);
}
.divider-3_HH5L{
    border-color: var(--background-accent);
}


/* search popout */
.resultsGroup-r_nuzN{
    background-color: var(--background-quat);
}
.theme-dark .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3{
    background-color: var(--background-accent);
}
.theme-dark .option-96V44q.selected-rZcOL-{
    background-color: var(--background-accent);
}


/* new server pop-up & public server list*/
.theme-dark .root-1gCeng{
    background: var(--background-quat);
}
.header-3ZP1MY{
    color: aliceblue;
}
.theme-dark .pageWrapper-1PgVDX{
    background-color: var(--background-primary);
}
.categoryItem-3zFJns.selectedCategoryItem-3X8ujp .itemInner-3gVXMG{
    background-color: var(--background-accent);
    border-radius: 3px;
}


/* upload modal */
.theme-dark .uploadModal-2ifh8j{
    background-color: var(--background-secondary);
}
.uploadModal-2ifh8j .footer-3mqk7D{
    background-color: var(--background-primary);
}


/* spoiler'd text */
.theme-dark .spoilerText-3p6IlD.hidden-HHr2R9{
    background-color: #302a30;
}
